*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
.container{
    position: relative;
    margin: 100px auto;
}
img{
    width: 100%;
    height: 425px;
}
.slick-slider{
    display: inline-block;
    width: 1120px;
    margin: 0 auto;
}
.dots-upper{
    position: absolute;
    top: -15px;
    right: -48px;
    width: 132px;
    height: 115px;
}
.dots-lower{
    position: absolute;
    left: -52px;
    bottom: 39px;
    width: 132px;
    height: 115px;
    z-index: 1;
}
.myprevarrow{
    width: 31px;
    height: 20px;
}
button{
    background-color: transparent;
    border: 0;
    outline: none;
}
#prev{  
    position: absolute;
    top: 469px;
    left: 403px;
    opacity: 0.5;
}
#next{  
    position: absolute;
    top: 469px;
    right: 403px;
    opacity: 0.5;
}
#next:hover,
#prev:hover{  
    position: absolute;
    top: 469px;
    opacity: 1;
    cursor: pointer;
}
.my-dots{
    list-style: none;
    text-align: center;
    position: absolute;
    top: 472px;
    left: 527px;
}
.my-dots li{
    display: inline-flex;
}
.my-dots li:not(:last-child){
    margin-right: 18px;
}
.my-dots li button:before{
    content: url('/slickimg/dot-active.svg');
    width: 10px;
    height: 10px;
    opacity: 0.5;
}
.my-dots li button{
    color: transparent;
}
.my-dots li button:hover:before{
    opacity: 1;
    cursor: pointer;
}
.my-dots li button:focus:before,
.my-dots li button:active:before{
    opacity: 1;
}
.my-dots li.slick-active button:before {
    opacity: .75;
  }
.first-slide{
     background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
     display: flex;
     flex-direction: column;
     border-radius: 24px;
     position: relative;
     outline: none;
}
.first-slide h2, 
.first-slide p,
.first-slide span{
    color: white;
}
.first-slide h2{
    font-family: 'Mulish-Bold', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    margin-top: 64px;
    margin-left: 301px;
}
.empty{
    width: 56px;
    border-top: 2px solid white;
    margin-top: 25px;
    margin-left: 534px;
    margin-bottom: 66px;
}
.customer-info{
    display: flex;
    margin-bottom: 79px;
}
.customer-info img{
    width: 141px;
    height: 141px;
    border: 4px solid white;
    border-radius: 100%;
    margin-left: 118px;
    margin-right: 29px;
}
.customer-review{
    width: 420px;
    font-family: 'Mulish-Regular', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    align-self: center;
}
.customer-name{
    display: flex;
    flex-direction: column;
    margin-right: 110px;
    font-family: 'Mulish-Bold', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    align-self: center;
}
.customer-name span{
    font-family: 'Mulish-Regular', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}